body {
  background-color: #333;
  color: white;
  font-family: sans-serif;
  box-sizing: border-box;
}

form {
  display: block;
  width: 640px;
  margin: 1em auto;
  text-align: center;
}

input[type="text"] {
  display: block;
  width: 70%;
  margin: 1em auto;
  padding: 0.5em;
  font-size: 1.1em;
  text-align: center;
}

video {
  display: block;
  background: black;
  margin: 1em auto;
}
